h1{
    color: blue;
}

body{
    background: #121212;
}

/* Dark Theme: https: //stackoverflow.com/questions/56511466/how-to-create-a-jquery-function-to-toggle-dark-mode */ 
/* .form-control{
    background-color: #202020;
} */