h1{
    color: #ff5226;
}

.dark-mode-body{
    background: #121212 !important;
}

.dark-mode-textarea{
    background: #202020 !important;
    color: #ffffff !important;
}

.dark-mode-accordion-header{
    background: #121212 !important;
    color: #ffffff !important;
}

.dark-mode-accordion-content{
    background: #202020 !important;
    color: #ffffff !important;
}

.dark-mode-labels {
    color: #ffffff !important;
}