amqp==5.1.1
arrow==1.1.0
asgiref==3.3.4
asn1crypto==1.4.0
atomicwrites==1.4.0
attrs==21.2.0
autopep8==1.5.7
base58==0.2.2
billiard==3.6.4.0
bitarray==1.2.2
bitcoin==1.1.39
bitcoin-utils-fork-minimal==0.4.11.3
block-io==2.0.4
blockcypher==1.0.92
cached-property==1.5.2
celery==5.2.7
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.1.3
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
coincurve==15.0.0
colorama==0.4.4
colorclass==2.2.0
cryptocompare==0.7.5
cryptography==3.4.7
cryptos==1.36
cytoolz==0.11.0
defusedxml==0.7.1
Django==3.2.14
django-allauth==0.44.0
django-auth==0.1.9
django-celery-beat==2.2.1
django-celery-results==2.4.0
django-crispy-forms==1.11.2
django-extensions==3.1.3
django-suit==0.2.28
django-timezone-field==4.2.1
docker-py==1.8.0
docopt==0.6.2
ecdsa==0.16.1
eth-abi==2.1.1
eth-account==0.5.4
eth-hash==0.3.1
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-typing==2.2.2
eth-utils==1.10.0
flake8==3.9.2
funcsigs==1.0.2
future==0.18.2
hexbytes==0.2.1
idna==2.10
importlib-metadata==4.5.0
iniconfig==1.1.1
ipfshttpclient==0.7.0a1
jsonrpcclient==2.0.1
jsonrpcserver==3.1.1
jsonschema==3.2.0
kombu==5.2.4
lru-dict==1.1.7
mccabe==0.6.1
mnemonic==0.13
mpmath==1.2.1
multiaddr==0.0.9
mypy-extensions==0.4.3
netaddr==0.8.0
oauthlib==3.1.1
packaging==20.9
parsimonious==0.8.1
path==15.1.2
path.py==12.5.0
pbkdf2==1.3
pep8==1.7.1
pexpect==4.8.0
Pillow==8.2.0
pip-upgrader==1.4.15
pluggy==0.13.1
prompt-toolkit==3.0.19
protobuf==3.0.0a3
ptyprocess==0.7.0
py==1.10.0
py-ecc==5.2.0
pyaes==1.6.1
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.10.1
pyflakes==2.3.1
PyJWT==2.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
pysha3==1.0.2
pytest==6.2.4
python-crontab==2.5.1
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2022.1
pywallet==0.1.0
pywin32==301
PyYAML==5.4.1
qrcode==7.1
redis==3.5.3
repoze.lru==0.7
requests==2.11.1
requests-oauthlib==1.3.0
rlp==2.0.1
scrypt==0.8.18
sha256==0.1
six==1.16.0
sqlparse==0.4.1
sympy==1.3
tabulate==0.8.9
terminaltables==3.1.0
toml==0.10.2
toolz==0.11.1
two1==3.10.9
typing-extensions==3.10.0.0
urllib3==1.26.5
varint==1.0.2
vine==5.0.0
wcwidth==0.2.5
web3==5.19.0
websocket-client==1.1.0
websockets==8.1
Werkzeug==2.0.1
zipp==3.4.1
