{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <h1>Journal Entry</h1>
        </br>
        <form method="POST" action="" id="entry_form">
          {% csrf_token %}
          <div class="mb-3">
            <!-- <textarea class="form-control" id="journal_entry" rows="7" placeholder="Type in your Journal Entry" onkeydown="countChars()" onkeyup="countChars()" onmouseout="countChars()"></textarea> -->
              {{ form.submission }}
            <div id="entry_counter" class="form-text">500</div>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </br></br>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-5">
        <h1>PREV POSTS</h1>
        </br>

        <div class="accordion" id="accordionExample">

          {% if entries is None %}

            Log in to submit your first journal entry

          {% elif entries_count == 0 %}
          
            Submit your first journal entry

          {% else %}
          
          {% for entry in entries %}
          <div class="accordion-item">
            <h2 class="accordion-header" id="heading{{ entry.id }}">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ entry.id }}" aria-expanded="false" aria-controls="collapse{{ entry.id }}">
                  <strong>{{ entry.entry_date }}</strong>
              </button>
            </h2>
            <div id="collapse{{ entry.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ entry.id }}" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                {{ entry.text_post }}
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}

        </div>
        </br></br>

    </div>
</div>

{% endblock %}

