<style>
  .navbar-font-size{
      font-size: 14px !important;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">JOURNAL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 navbar-font-size">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>

        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link disabled">{{ request.user }}</a>
          </li>
          
        {% else %}
          <li class="nav-item">
            <a class="nav-link disabled">Guest</a>
          </li>
          
        {% endif %}

      </ul>

      <div class="custom-control custom-switch" style="margin-right: 20px;">
        <input type="checkbox" class="custom-control-input" id="customSwitch1">
        <label class="custom-control-label" style="color: #ffffff; font-size: 14px;">Dark Mode</label>
      </div>

      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-outline-danger">Logout</a>
      {% else %}
      <a href="{% url 'login' %}" class="btn btn-outline-success" style="margin-right: 10px;">Login</a>
      <a href="{% url 'signup' %}" class="btn btn-outline-light">Register</a>
      {% endif %}
    </div>
  </div>
</nav>